button{
    padding: 10px 20px;
    border: none;
    margin: 10px;
    border-radius: 5px;
}
.btn-normal{
    background-color: #3498db;
    color: white;
}
.btn-outline{
    border: 2px solid #3498db;
    background: transparent;
    color: #3498db;
}
.btn-alert{
    background-color: #e74c3c;
    color: white;
}
button:hover{
    transform: scale(1.1);
}
button:active{
    transform: scale(0.9);
}
.btn-normal{
    cursor: crosshair;
}
.btn-outline{
    cursor: pointer;
}
.btn-alert{
    cursor: help;
}